body {
    font-family: 'Roboto', sans-serif;
    background: #ECEFF1;
}

nav {
    font-family: 'Inconsolata', monospace;
    background-color: #CFD8DC;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-128 {
    font-size: 128px;
}

.banner {
    height: 150px;
    padding-top: 0px;
    background-color: #CFD8DC;
}

.main {}

.navbutton {
    border-style: none;
}

.greyButton:link {
    color: slategray;
}

/* visited link */
.greyButton:visited {
    color: slategray;
}

/* mouse over link */
.greyButton:hover {
    color: slategray;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
}

/* selected link */
.greyButton:active {
    color: slategray;
}

/* https://codepen.io/griffininsight/pen/OMexrW */
* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -50px;
    /* the bottom margin is the negative value of the footer's height */
}

footer,
.push {
    height: 50px;
    /* '.push' must be the same height as 'footer' */
}

@media (max-width: 768px) {
    .wrapper { 
        min-height: 100%;
        margin: 0 auto -70px;
        /* the bottom margin is the negative value of the footer's height */
    }

    footer,
    .push {
        height: 70px;
        /* '.push' must be the same height as 'footer' */
    }
}

footer {
    /*position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;*/
    text-align: center;
    padding-bottom: 10px;
    background-color: #CFD8DC;
    padding-top: 10px;
}

/*.card-columns {
    column-count: 3;
}*/

.experience{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    flex-wrap: wrap;
}

.paddingexp{
    padding-bottom: 15px;
}

.text-white a{
    color: lightblue;
}